html, body {
    margin: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gridArea {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    margin: 10px;
    border: 5px solid aqua;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
}

.configure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.container>div {
    border: 1px solid black;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 10px;
    background-color: black;
    color: white;
}

.divHover {
    background-color: aqua;
}

.erasorColors {
    background-color: white;
}

.growGrid, .resetGrid, .random, .erase {
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    color: black;
    background-color: aqua;
}