.gridArea {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    margin: 10px;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
}

.configure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.container>div {
    border: 1px solid black;
}

.divHover {
    background-color: aqua;
}

.growGrid {
    border: none;
    border-radius: 7px;
    padding: 10px;
    font-weight: bolder;
    color: black;
    background-color: aqua;
}

.resetGrid {
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    color: black;
    background-color: aqua;
}