.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
}

.container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

.divHover {
    background-color: aqua;
}